body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background-color: $background-color;
  color: gray;
}

.navbar-opp{
  background-color: $menu-background-color;
  border-color: $menu-background-color;
}


.navbar-opp .navbar-nav>li>a {
  color: $menu-color;
  font-size: larger;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.navbar-opp .navbar-nav>li>a:hover {
  cursor: pointer;
  font-size: x-large;
}
.top-header{
  min-height: 60px;
  padding-top: 10px;
}
.cart{
  color: $menu-background-color;
  &:hover{
    cursor: pointer;
    color: black;
  }
}

.margin-top-10{
  margin-top: 10px;
}
.user-menu{
  .link{
    color: $menu-background-color;
  }
}

.process-container{
  margin: 15px;
  border: 1px solid red;
  padding: 5px;
  text-align: center;
  .heading-box{
    text-align: center;
    margin-top: -20px;


    .heading{
      background-color: $background-color;
      font-size: x-large;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .process{


      .widget-image{
        border-radius: 50%;
        //background-color: #00AA00;
         width: 100%;
        &:hover{
          cursor: pointer;
        }
        img{
          width: 50%;
        }
      }
  }
}