.badge{
  background-color: $menu-background-color;
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.btn-rect{
  border-radius: 5px;
  border: 1px solid #ccc8c8;
}

.modal{
  .modal-content{
    border-radius: 0px;
  }
}