.gallery-container{

  margin-top: 10px;
  background-color: white;
  padding: 10px;
  min-height: 300px;
  @include box-shadow;
}
.checkout-container{
  margin-top: 10px;
  margin-left: 5px;
  background-color: white;
  padding: 10px;
  min-height: 300px;
  @include box-shadow;
}
.checout-box{
  background-color: $background-color;
  border-radius: 7px;
  border: 1px solid #E8DDDD;
  padding: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;

  .price{
    font-size: x-large;
    font-weight: bold;
    color: green;
    text-align: center;
  }
}
.gallery-box{
  padding: 5px;
  margin-top: 15px;
}
.img-panel{
  height: 270px;
  width: 180px;
  margin: 10px;
  border-top-right-radius: 15px;
  background-color: #CECECE;
  -ms-box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
  -webkit-box-shadow: 5px 5px 5px #999;
  box-shadow: 5px 5px 5px #999;


  .img-holder{
    width: 180px;
    height: auto;
    max-height: 200px;
    padding: 5px;
    padding-top: 15px;

    img{
      width: 100%;
      height: 150px;
      //border: 1px solid;
    }
    .prog{
      width: 50%;
      height: 150px;
      background-color: green;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-weight: bold;
      font-size: x-large;
      line-height: 150px;
    }
    .prog-percentage{
      line-height: 150px;
      position: relative;
      top: 0px;
      float: left;
      z-index: 1;
      text-align: center;
      width: 100%;
      font-size: x-large;
      font-weight: bold;
      color: white;
    }
  }

  .img-status{
    padding-left: 10px;
    padding-right: 10px;

    .high{
      color: green;
    }
  }
  .img-format{

    .format-size{
      width:150px;
    }
    .format-caret{
      width: 30px;
    }
  }

  .img-quantity{
    input{
      height: 34px;
      width: 100px;
      background-color: #CECECE;
      margin: 0px;
      border: 0px;
      padding: 0px;
      color: white;
      text-align: center;
      /* margin-top: 1px; */
      font-size: larger;
      font-weight: bold;
      &:focus,&:active.focus,&:active:focus{
        -webkit-box-shadow:none;
        box-shadow: none;
        border: 0px;
        outline: none;
      }
    }
    button{
      height: 35px;
      width: 35px;
      &:focus,&:active.focus,&:active:focus{
        -webkit-box-shadow:none;
        box-shadow: none;
        border: 0px;
        outline: none;
      }
    }
  }
}

.close-circle{
  margin-top: -10px;
  position: relative;
  float: right;
  font-size: x-large;
  color: #350101;
  right: -10px;
  opacity: 1;
  &:hover{
    cursor: pointer;
  }
}