$menu-background-color: #D00404;
$menu-color: white;

@mixin box-shadow{
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8;
}