$menu-background-color: #D00404;
$menu-color: white;
$menu-background-shade: #F5E1E1;
$background-color: #E9E9E9;

@mixin box-shadow{
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8;
}