$menu-background-color: #D00404;
$menu-color: white;
$menu-background-shade: #F5E1E1;
$background-color: #E9E9E9;
$text-color-primary: #555;

@mixin box-shadow{
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8;
}

@mixin no-active-focus{
  &:focus,&:active.focus,&:active:focus{
    -webkit-box-shadow:none;
    box-shadow: none;
    border: 0px;
    outline: none;
    background-color: gray;
  }
}
.btn-opp-primary{
  color: white;
  background-color: $menu-background-color;
  border-color: $menu-background-color;
  background: rgb(188,11,14);
  background: -moz-linear-gradient(top, rgba(188,11,14,1) 0%, rgba(181,41,48,1) 1%, rgba(244,0,12,1) 3%, rgba(181,0,12,1) 74%, rgba(188,3,21,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,11,14,1)), color-stop(1%,rgba(181,41,48,1)), color-stop(3%,rgba(244,0,12,1)), color-stop(74%,rgba(181,0,12,1)), color-stop(100%,rgba(188,3,21,1)));
  background: -webkit-linear-gradient(top, rgba(188,11,14,1) 0%,rgba(181,41,48,1) 1%,rgba(244,0,12,1) 3%,rgba(181,0,12,1) 74%,rgba(188,3,21,1) 100%);
  background: -o-linear-gradient(top, rgba(188,11,14,1) 0%,rgba(181,41,48,1) 1%,rgba(244,0,12,1) 3%,rgba(181,0,12,1) 74%,rgba(188,3,21,1) 100%);
  background: -ms-linear-gradient(top, rgba(188,11,14,1) 0%,rgba(181,41,48,1) 1%,rgba(244,0,12,1) 3%,rgba(181,0,12,1) 74%,rgba(188,3,21,1) 100%);
  background: linear-gradient(to bottom, rgba(188,11,14,1) 0%,rgba(181,41,48,1) 1%,rgba(244,0,12,1) 3%,rgba(181,0,12,1) 74%,rgba(188,3,21,1) 100%);
  &:hover{
    color: yellow;
  }
  @include no-active-focus;

}
.btn-opp-light{
  color: #635D5D;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to (rgba(255, 255, 255, 0))) repeat scroll 0 0;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background-color: #E0E0E0;
  &:hover{
    color: black;
  }
  @include no-active-focus;
}
.btn.btn-lg{
  font-size: large;
  font-weight: bold;
}

.btn-trans{
  background-color: transparent;
  border-color: transparent;
  @include no-active-focus;
}
.text-x-large{
  font-size: x-large;
}

.text-xx-large{
  font-size: xx-large;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}