.btn-opp-primary {
  color: white;
  background-color: #D00404;
  border-color: #D00404;
  background: #bc0b0e;
  background: -moz-linear-gradient(top, #bc0b0e 0%, #b52930 1%, #f4000c 3%, #b5000c 74%, #bc0315 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc0b0e), color-stop(1%, #b52930), color-stop(3%, #f4000c), color-stop(74%, #b5000c), color-stop(100%, #bc0315));
  background: -webkit-linear-gradient(top, #bc0b0e 0%, #b52930 1%, #f4000c 3%, #b5000c 74%, #bc0315 100%);
  background: -o-linear-gradient(top, #bc0b0e 0%, #b52930 1%, #f4000c 3%, #b5000c 74%, #bc0315 100%);
  background: -ms-linear-gradient(top, #bc0b0e 0%, #b52930 1%, #f4000c 3%, #b5000c 74%, #bc0315 100%);
  background: linear-gradient(to bottom, #bc0b0e 0%, #b52930 1%, #f4000c 3%, #b5000c 74%, #bc0315 100%); }
  .btn-opp-primary:hover {
    color: yellow; }
  .btn-opp-primary:focus, .btn-opp-primary:active.focus, .btn-opp-primary:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    outline: none; }

.btn-opp-light {
  color: #635D5D;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
  background-color: #E0E0E0; }
  .btn-opp-light:hover {
    color: black; }
  .btn-opp-light:focus, .btn-opp-light:active.focus, .btn-opp-light:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    outline: none; }

.btn.btn-lg {
  font-size: large;
  font-weight: bold; }

.badge {
  background-color: #D00404; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px; }

.btn-rect {
  border-radius: 0px; }

.modal-backdrop.am-fade {
  opacity: .5;
  transition: all .35s ease-in-out; }

.modal-backdrop.am-fade.ng-enter, .modal-backdrop.am-fade.ng-leave-active {
  opacity: 0; }

.modal-backdrop.am-fade.ng-enter-active, .modal-backdrop.am-fade.ng-leave {
  opacity: 0.5; }

.modal.am-fade {
  transform: scale(1, 1);
  transition: all .35s ease-in-out; }

.modal.am-fade.ng-enter, .modal.am-fade.ng-leave-active {
  transform: scale(0, 0); }

.modal.am-fade.ng-enter-active, .modal.am-fade.ng-leave {
  transform: scale(1, 1); }

.login-modal {
  border-radius: 0px; }
  .login-modal .modal-header {
    padding: 5px;
    border: 0px;
    border-top: 5px solid #D00404; }
  .login-modal .link {
    font-weight: bolder;
    color: black;
    font-size: small; }
    .login-modal .link:hover {
      cursor: pointer;
      text-decoration: none; }
  .login-modal .modal-footer {
    padding: 0px; }

.btn-facebook {
  background-color: #3b5998;
  color: white;
  border-color: #3b5998; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background-color: #E9E9E9;
  color: gray; }

.navbar-opp {
  background-color: #D00404;
  border-color: #D00404; }

.navbar-opp .navbar-nav > li > a {
  color: white;
  font-size: larger;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease; }

.navbar-opp .navbar-nav > li > a:hover {
  cursor: pointer;
  font-size: x-large; }

.top-header {
  min-height: 60px;
  padding-top: 10px; }

.cart {
  color: #D00404; }
  .cart:hover {
    cursor: pointer;
    color: black; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.user-menu .link {
  color: #D00404; }

.process-container {
  margin: 15px;
  margin-top: 20px;
  border: 1px solid #D8CDCD;
  padding: 5px;
  text-align: center;
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8; }
  .process-container .heading-box {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px; }
    .process-container .heading-box .heading {
      background-color: #E9E9E9;
      font-size: x-large;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      color: #555; }
  .process-container .process {
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out; }
    .process-container .process .widget-step h3 {
      font-weight: bold; }
    .process-container .process .widget-text p {
      font-size: large; }
    .process-container .process .widget-image {
      border-radius: 50%;
      width: 100%; }
      .process-container .process .widget-image:hover {
        cursor: pointer; }
      .process-container .process .widget-image img {
        width: 50%; }
  .process-container .process.dashed {
    border: 2px dashed black;
    background-color: #f2dede; }
  .process-container .size-card {
    background-color: #f5f5f5;
    border: 5px solid #444040;
    color: black;
    /* padding: 20px; */
    height: 150px;
    width: 150px;
    margin: 10px;
    -ms-box-shadow: 5px 10px 2px #CCC8C8;
    -moz-box-shadow: 5px 10px 2px #CCC8C8;
    -webkit-box-shadow: 5px 10px 2px #CCC8C8;
    box-shadow: 5px 10px 2px #CCC8C8; }
    .process-container .size-card h1 {
      font-weight: bold; }
  .process-container .dis-box .card {
    background-color: #D00404;
    color: white;
    padding: 20px;
    height: 175px;
    width: 150px;
    margin: 10px;
    border: 1px dashed;
    -ms-box-shadow: 5px 10px 2px #CCC8C8;
    -moz-box-shadow: 5px 10px 2px #CCC8C8;
    -webkit-box-shadow: 5px 10px 2px #CCC8C8;
    box-shadow: 5px 10px 2px #CCC8C8; }
    .process-container .dis-box .card h1 {
      font-weight: bold; }
  .process-container .dis-box .card.one {
    background-color: #822C62; }
  .process-container .dis-box .card.two {
    background-color: #37A5A5; }
  .process-container .dis-box .card.three {
    background-color: #BDBD09; }
  .process-container .dis-box .card.four {
    background-color: #676518; }
  .process-container .dis-box .card.five {
    background-color: #D00404; }

.discount-heading {
  font-size: xx-large;
  font-weight: bold;
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase; }

.slider {
  height: 300px;
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  background: url("../images/bg1.png") no-repeat;
  background-size: cover; }
  .slider img {
    width: 250px;
    height: 80%;
    margin-left: 100px;
    margin-top: 20px; }
  .slider .nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px; }
    .slider .nav .wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 1em 0 .8em; }
    .slider .nav ul {
      margin: 0;
      width: 100%; }
    .slider .nav .dot, .slider .nav .dot a {
      display: inline-block;
      zoom: 1; }

.slide {
  position: absolute;
  top: 0;
  left: 0; }

.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none;
  cursor: pointer;
  background: url(../images/blank.gif) no-repeat; }

.arrow.prev {
  opacity: 0.2;
  left: 20px;
  background-image: url(../images/paddle_prev_999.png);
  transition: 0.2s linear all; }

.arrow.next {
  opacity: 0.2;
  right: 20px;
  background-image: url(../images/paddle_next_999.png);
  transition: 0.2s linear all; }

.arrow.prev:hover {
  opacity: 1;
  background-image: url(../images/paddle_prev_fff.png); }

.arrow.next:hover {
  opacity: 1;
  background-image: url(../images/paddle_next_fff.png); }

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.nonDraggableImage {
  -webkit-user-drag: none; }

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px; }

.dots .dot a {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #FFF;
  border: 2px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s; }

.dots .dot a.active {
  border-color: #FFF;
  background-color: transparent; }

.carousel-box {
  background: url("../images/bg1.png") no-repeat;
  background-size: cover;
  height: 300px; }

.gallery-container {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  min-height: 300px;
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8; }

.checkout-container {
  margin-top: 10px;
  margin-left: 5px;
  background-color: white;
  padding: 10px;
  min-height: 300px;
  -ms-box-shadow: 2px 2px 2px #CCC8C8;
  -moz-box-shadow: 2px 2px 2px #CCC8C8;
  -webkit-box-shadow: 2px 2px 2px #CCC8C8;
  box-shadow: 2px 2px 2px #CCC8C8; }

.checout-box {
  background-color: #E9E9E9;
  border-radius: 7px;
  border: 1px solid #E8DDDD;
  padding: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px; }
  .checout-box .price {
    font-size: x-large;
    font-weight: bold;
    color: green;
    text-align: center; }

.gallery-box {
  padding: 5px;
  margin-top: 15px; }

.img-panel {
  height: 270px;
  width: 180px;
  margin: 10px;
  border-top-right-radius: 15px;
  background-color: #CECECE;
  -ms-box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
  -webkit-box-shadow: 5px 5px 5px #999;
  box-shadow: 5px 5px 5px #999; }
  .img-panel .img-holder {
    width: 180px;
    height: auto;
    max-height: 200px;
    padding: 5px;
    padding-top: 15px; }
    .img-panel .img-holder img {
      width: 100%;
      height: 150px; }
  .img-panel .img-status {
    padding-left: 10px;
    padding-right: 10px; }
    .img-panel .img-status .high {
      color: green; }
  .img-panel .img-format .format-size {
    width: 150px; }
  .img-panel .img-format .format-caret {
    width: 30px; }
  .img-panel .img-quantity input {
    height: 34px;
    width: 100px;
    background-color: #CECECE;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: white;
    text-align: center;
    /* margin-top: 1px; */
    font-size: larger;
    font-weight: bold; }
    .img-panel .img-quantity input:focus, .img-panel .img-quantity input:active.focus, .img-panel .img-quantity input:active:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      outline: none; }
  .img-panel .img-quantity button {
    height: 35px;
    width: 35px; }
    .img-panel .img-quantity button:focus, .img-panel .img-quantity button:active.focus, .img-panel .img-quantity button:active:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0px;
      outline: none; }

.close-circle {
  margin-top: -10px;
  position: relative;
  float: right;
  font-size: x-large;
  color: #350101;
  right: -10px;
  opacity: 1; }
  .close-circle:hover {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
