<div class="row">
    <!-- carousel slider -->

    <div class="col-xs-12 slider" ng-controller="carouselController">
        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
        <a class="arrow next" href="#" ng-click="prevSlide()"></a>
        <nav class="nav">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                           ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- carousel slider -->

</div>

<section class="row process-container">
    <div class="row heading-box">
        <span class="heading">
           Make Your Photos Online
        </span>

    </div>
    <div class="col-sm-3 process one">
        <div class="widget-step"><h3>Step 1</h3></div>
        <div class="widget-image" ng-click="gotoUpload()">
            <a><img src="images/imageupload.png"></a>
        </div>
        <div class="widget-text">
            <p>Upload your image or send us your CD/DVD</p>
        </div>
    </div>
    <div class="col-sm-3 process two">
        <div class="widget-step"><h3>Step 2</h3></div>
        <div class="widget-image" ng-click="gotoUpload()">
            <a><img src="images/writeaddress.png"></a>
        </div>
        <div class="widget-text">
            <p>Enter your delivery address</p>
        </div>
    </div>
    <div class="col-sm-3 process three">
        <div class="widget-step"><h3>Step 3</h3></div>
        <div class="widget-image" ng-click="gotoUpload()">
            <a><img src="images/printphoto.png"></a>
        </div>
        <div class="widget-text">
            <p>We will make your photos</p>
        </div>
    </div>
    <div class="col-sm-3 process four">
        <div class="widget-step"><h3>Step 4</h3></div>
        <div class="widget-image" ng-click="gotoUpload()">
            <a><img src="images/photodelivery.png"></a>
        </div>
        <div class="widget-text">
            <p>And deliver them to your home</p>
        </div>
    </div>

</section>

<section class="row process-container">
    <div class="row heading-box">
        <span class="heading">
           Best Price Guaranteed
        </span>
    </div>
    <ul class="list-inline">
        <li>
            <div class="size-card">
                <h1>12 DIN</h1>
                <h2>13 X 9</h2>
            </div>
        </li>
        <li>
            <div class="size-card">
                <h1>12 DIN</h1>
                <h2>15 X 10</h2>
            </div>
        </li>
        <li >
            <div class="size-card">
                <h1>12 DIN</h1>
                <h2>15 X 10</h2>
            </div>
        </li>
        <li >
            <div class="size-card">
                <h1>20 DIN</h1>
                <h2>20 X 30</h2>
            </div>
        </li>
        <li >
            <div class="size-card">
                <h1>25 DIN</h1>
                <h2>30 X 48</h2>
            </div>
        </li>
        <li >
            <div class="size-card">
                <h1>25 DIN</h1>
                <h2>30 X 48</h2>
            </div>
        </li>
        <li >
            <div class="size-card">
                <h1>25 DIN</h1>
                <h2>30 X 48</h2>
            </div>
        </li>
    </ul>


    <div class="row discount-heading">
        <span class="">
           Order more and get exciting discounts
        </span>
    </div>

    <ul class="list-inline">
        <li>
            <div class="dis-box">
                <div class="card one">
                    <h1>5% </h1>

                </div>
                <h2>10+ Photos</h2>
            </div>
        </li>
        <li>
            <div class="dis-box">
                <div class="card two">
                    <h1>10% </h1>

                </div>
                <h2>25+ Photos</h2>
            </div>
        </li>
        <li>
            <div class="dis-box">
                <div class="card three">
                    <h1>20%</h1>
                    <h3>+ FREE shipping</h3>
                </div>
                <h2>100+ Photos</h2>
            </div>
        </li>
        <li>
            <div class="dis-box">
                <div class="card four">
                    <h1>25% </h1>
                    <h3>+ FREE shipping</h3>
                </div>
                <h2>200+ Photos</h2>
            </div>
        </li>
        <li>
            <div class="dis-box">
                <div class="card five">
                    <h1>40% </h1>
                    <h3>+ FREE shipping</h3>
                </div>
                <h2>1000+ Photos</h2>
            </div>
        </li>
    </ul>

</section>
<section>

   <!-- <div ng-controller="CarouselDemoCtrl">
        <div class="carousel-box">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>

    </div>-->
</section>